@tailwind base;
@tailwind components;
@tailwind utilities;

.h-full {
  height: 100vh;
}

.w-full {
  width: 100vw;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', normal;
}

.nav-item {
  width: 100%;
  border-radius: 0.375rem;
  /* equivalent to rounded-md in Tailwind */
  transition: background-color 0.5s ease;
}

@layer components {

 

  /* === Input === */
  /* .input-base {
    @apply block w-[100%] h-[2.5rem] px-2 text-sm rounded-md border border-gray-300 bg-white text-gray-900 shadow-custom-light;
    @apply  focus:ring-2 dark:focus:ring-2 focus:ring-primary dark:focus:ring-orangeBorder;
    @apply hover:border-brand-500-secondary overflow-ellipsis overflow-hidden text-nowrap ;
    @apply invalid:border-error-500 invalid:focus:border-error-500;
    @apply dark:bg-inputBgDark dark:text-white dark:border-gray-600 dark:focus:ring-lightButton;
  } */

  .input-base {

    @apply block w-[100%] h-10 px-3 py-2 text-sm rounded-md border border-gray-300 bg-white text-gray-900 shadow-sm hover:border-gray-400 transition-all duration-200 focus:outline-none focus:border-primary/70 focus:ring-2 focus:ring-primary/20 dark:bg-fullBackgroungDark dark:border-gray-600 dark:text-gray-100 dark:placeholder:text-gray-500 dark:focus:border-primaryDark/75 dark:focus:ring-primaryDark/40 ;

    /* ← only this part is custom */
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.08);
  }

  .input-base-static {

    @apply block w-[100%] h-10 px-3 py-2 text-sm rounded-md border border-gray-300 bg-white text-gray-900 shadow-sm hover:border-gray-400 transition-all duration-200 focus:outline-none focus:border-primary/70 focus:ring-2 focus:ring-primary/20   ;

    /* ← only this part is custom */
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.08);
  }

  .dark .input-base {
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.55);
  }


  .input-base-desc {
    @apply block w-[100%]  px-3 py-2 text-sm rounded-md border border-gray-300 bg-white text-gray-900 shadow-sm hover:border-gray-400 transition-all duration-200 focus:outline-none focus:border-primary/70 focus:ring-2 focus:ring-primary/20 dark:bg-fullBackgroungDark dark:border-gray-600 dark:text-gray-100 dark:placeholder:text-gray-500 dark:focus:border-primaryDark/75 dark:focus:ring-primaryDark/40 ;

    /* ← only this part is custom */
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.08);
  }

  .input-label {
    @apply text-gray-800 dark:text-gray-300 text-sm font-medium mb-1
  }

  /* premium button */


  .premiumbutton .wrap {
    @apply text-base font-medium text-white relative overflow-hidden px-4 py-[.60rem] rounded-full flex items-center gap-1 m-0 transition-all duration-200 ease-in-out;
    mask-image: linear-gradient(to bottom, white 40%, transparent);
  }

  .premiumbutton .wrap p {
    @apply m-0 flex items-center gap-1 transition-all duration-200 ease-in-out translate-y-[2%];
  }

  .premiumbutton .wrap::before,
  .premiumbutton .wrap::after {
    content: "";
    position: absolute;
    transition: all 0.3s ease;
  }

  .premiumbutton .wrap::before {
    left: -15%;
    right: -15%;
    bottom: 25%;
    top: -100%;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.12);
  }

  .premiumbutton .wrap::after {
    left: 6%;
    right: 6%;
    top: 12%;
    bottom: 40%;
    border-radius: 22px 22px 0 0;
    box-shadow: inset 0 10px 8px -10px rgba(255, 255, 255, 0.8);
    background: linear-gradient(180deg,
        rgba(255, 255, 255, 0.3) 0%,
        rgba(0, 0, 0, 0) 50%,
        rgba(0, 0, 0, 0) 100%);
  }



  .premiumbutton:hover .wrap::before {
    transform: translateY(-5%);
  }

  .premiumbutton:hover .wrap::after {
    opacity: 0.4;
    transform: translateY(5%);
  }

  .premiumbutton:hover .wrap p {
    transform: translateY(-4%);
  }

  .premiumbutton:active {
    transform: translateY(4px);
    box-shadow: inset 0 0.3rem 0.5rem rgba(255, 255, 255, 0.5),
      inset 0 -0.1rem 0.3rem rgba(0, 0, 0, 0.8),
      inset 0 -0.4rem 0.9rem rgba(255, 255, 255, 0.4),
      0 3rem 3rem rgba(0, 0, 0, 0.3), 0 1rem 1rem -0.6rem rgba(0, 0, 0, 0.8);
  }

  .premiumbutton .wrap p span:nth-child(2) {
    display: none;
  }

  .premiumbutton:hover .wrap p span:nth-child(1) {
    display: none;
  }

  .premiumbutton:hover .wrap p span:nth-child(2) {
    display: inline-block;
  }

  /* two D style */

  .twoD-style {
    @apply pl-8 pr-8 py-1 border-gray-300 dark:border-gray-600 bg-white dark:bg-fullBackgroungDark dark:text-white rounded-lg shadow-custom-light text-black;
    @apply focus:border-transparent focus:outline-none focus:ring-2 focus:ring-blue-500 dark:focus:ring-blue-400;
  }



  .twoD-style-button-one {
    @apply dark:text-white rounded-full border shadow-custom-light text-black bg-white dark:bg-fullBackgroungDark transition duration-300 ease-in-out p-[.30rem] hover:ring-2 hover:ring-primary dark:hover:ring-primaryDark;
  }

  .twoD-style-button-two {
    @apply text-white bg-gradient-to-r dark:from-[#ffc582] from-blue-400 hover:from-blue-300 dark:hover:from-[#DAA366] dark:via-[#DAA366]/90 via-blue-500 dark:hover:via-[#DAA366]/80 hover:via-blue-400 dark:to-[#DAA366]/80 to-blue-600 dark:hover:to-[#DAA366]/90 hover:to-blue-500 hover:bg-gradient-to-br focus:ring-4 focus:outline-none dark:focus:ring-[#DAA366] focus:ring-blue-300 shadow-custom-light dark:shadow-[#DAA366]/50 shadow-blue-400/50 dark:shadow-custom-light font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2
  }

  .twoD-style-button-three {
    @apply text-white bg-gradient-to-r dark:from-primaryDark from-primary dark:hover:from-primaryDark hover:from-primary dark:via-primaryDark via-primary dark:hover:via-primaryDark hover:via-primary dark:to-primaryDark to-primary dark:hover:to-primaryDark hover:to-primary hover:bg-gradient-to-br dark:focus:ring-primaryDark shadow-custom-light shadow-primary/50 dark:shadow-custom-light dark:shadow-primaryDark/60 font-medium rounded-lg text-sm px-3 py-1 text-center
  }

  .twoD-style-button-cancel {
    @apply text-white bg-red-500   dark:focus:ring-[#da6666] shadow-custom-light shadow-red-400/50 dark:shadow-custom-light dark:shadow-red-800/60 font-medium rounded-lg text-sm px-3 py-2.5 text-center
  }

  .twoD-style-button-back {
    @apply text-white bg-gradient-to-r dark:from-[#3d3f61] from-gray-800 dark:hover:from-[#514d64] hover:from-gray-300 dark:via-[#48465f] via-gray-500 dark:hover:via-[#54559f] hover:via-gray-400 dark:to-[#384355] to-gray-600 dark:hover:to-[#4d4a6d] hover:to-gray-500 hover:bg-gradient-to-br dark:focus:ring-[#413776] shadow-custom-light shadow-gray-400/50 dark:shadow-custom-light dark:shadow-[#DAA366]/60 font-medium rounded-lg text-sm px-3 py-2.5 text-center
  }


  .save-new {
    @apply flex items-center gap-1 text-blueBorder dark:text-orangeBorder ring-blueBorder dark:ring-orangeBorder ring-1 hover:ring-2 font-medium rounded-lg text-sm px-3 py-2 text-center
  }

  .save {
    @apply text-white bg-gradient-to-r dark:from-[#DAA366] from-blue-400 dark:hover:from-[#DAA366] hover:from-blue-300 dark:via-[#DAA366] via-blue-500 dark:hover:via-[#DAA366] hover:via-blue-400 dark:to-[#DAA366] to-blue-600 dark:hover:to-[#DAA366] hover:to-blue-500 hover:bg-gradient-to-br dark:focus:ring-[#DAA366] shadow-custom-light shadow-blue-400/50 dark:shadow-custom-light dark:shadow-[#DAA366]/60 font-medium rounded-lg text-sm px-4 py-2 text-center
  }



  .save-new-bottom {
    @apply flex justify-center w-[50%] h-[100%] items-center gap-1 text-blueBorder bg-blueBorder/20 dark:text-orangeBorder font-medium text-sm
  }

  .save-bottom {
    @apply text-white h-[100%] w-[50%] bg-gradient-to-r dark:from-[#DAA366] from-blue-400 dark:hover:from-[#DAA366] hover:from-blue-300 dark:via-[#DAA366] via-blue-500 dark:hover:via-[#DAA366] hover:via-blue-400 dark:to-[#DAA366] to-blue-600 dark:hover:to-[#DAA366] hover:to-blue-500 hover:bg-gradient-to-br dark:focus:ring-[#DAA366] shadow-custom-light shadow-blue-400/50 dark:shadow-custom-light dark:shadow-[#DAA366]/60 font-medium text-sm px-4 py-2 text-center
  }


  .cancel-bottom {
    @apply flex justify-center w-[50%] h-[100%] items-center gap-1 dark:text-red-900 font-medium text-sm bg-gray-200 text-gray-800 hover:bg-gray-300
  }


  .report {
    @apply flex items-center gap-1 text-primary dark:text-primaryDark ring-primary dark:ring-primaryDark ring-1 hover:ring-2 hover:bg-primary/20 font-medium rounded-lg text-sm px-3 py-2 text-center
  }

  .filter {
    @apply flex items-center gap-1 text-primary dark:text-primaryDark ring-primary dark:ring-primaryDark ring-1 hover:ring-2 hover:bg-primary/20 font-medium rounded-lg text-sm px-3 py-2 text-center
  }

  .setting {
    @apply flex items-center gap-1 text-black dark:text-grayish ring-black dark:ring-grayish ring-1 hover:ring-2 hover:bg-black/10 dark:hover:bg-grayish/20 font-medium rounded-lg text-sm px-3 py-2 text-center
  }








  /* === Custom Underline === */
  .custom-underline {
    @apply relative;
  }

  .custom-underline::after {
    content: '';
    @apply absolute left-0 bottom-[-8px] w-[100%] h-[2px] bg-current;
  }

  .dark .custom-underline::after {
    @apply bg-current;
  }


}

.btn-gradient-text {
  @apply font-semibold uppercase transition-colors duration-300 ease-in-out;
  @apply bg-gradient-to-r from-white to-white bg-clip-text text-transparent;
  @apply hover:from-[#2193b0] hover:to-[#6dd5ed] dark:hover:to-[#96299a] dark:hover:from-[#0f34b1];
  @apply dark:from-white dark:to-white;
}